wget
matplotlib
pandas
tqdm
attrdict
numpy
requests
seaborn
ipython
Pillow
colored
torch>=1.6.0
torchvision
robustness @ git+https://github.com/MadryLab/robustness.git
torch_lucent @ git+https://github.com/brainsandmachines/lucent.git
requests
